In [1]:
import pyspark
sc = pyspark.SparkContext('local[*]')

from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

## Leer los datos

In [2]:
df = sqlContext.read.format("csv").option("delimiter", "\t").option("header", "true").load("cubo_ventas/fact_item.txt")

In [17]:
df_clientes = sqlContext.read.format("csv").option("delimiter", "\t").option("header", "true").load("cubo_ventas/dim_customer.txt")

In [13]:
dforder = sqlContext.read.format("csv").option("delimiter", "\t").option("header", "true").load("cubo_ventas/dim_order.txt")

In [29]:
df_catalogo = sqlContext.read.format("csv").option("delimiter", "\t").option("header", "true").load("cubo_ventas/dim_catalog.txt")

In [4]:
df.head()

Row(dwh_country_id='276', fk_sales_order_item='88056', fk_sales_order='5642', local_unit_price='1.29', unit_price_eur='1.29', local_tax_amount='0.08', tax_amount_eur='0.08', local_paid_price='1.29', paid_price_eur='1.29', local_paid_price_net='1.21', paid_price_net_eur='1.21', local_coupon_money_value='0', coupon_money_value_eur='0', local_coupon_money_value_net='0', coupon_money_value_eur_net='0', local_original_price='1.29', original_unit_price_eur='0.89', fk_dim_catalog='1676', fk_dim_date='9/28/2015 12:00:00 AM', fk_dim_customer='194', fk_dim_order='6142', order_bi_created_at='9/28/2015 8:33:17 AM', order_bi_updated_at='1/26/2016 3:55:59 PM', order_item_bi_created_at='9/28/2015 8:33:17 AM', order_item_bi_updated_at='9/28/2015 8:34:04 AM')

In [14]:
dforder.head()

Row(id_dim_order='5', dwh_country_id='276', id_sales_order='1500', order_nr='200005846', payment_method='Adyen_Paypal', delivery_date='5/20/2015 12:00:00 AM', delivery_time='14:00 - 22:00', is_recurring='0', is_subscription='0', region_code='DE-BE')

In [19]:
df_clientes.head()

Row(id_dim_customer='4696', dwh_country_id='276', region_code='DE-BE', customer_id='4826', first_order_id='9619', first_order_date='12/21/2015 10:24:12 AM', unit_price_total_eur='150', paid_price_total_eur='150', coupon_value_total_eur='0', coupon_value_total_eur_net='0', tax_total_eur='23.95', cogs_sum_eur='150', shipping_amount_eur='0', net_revenue_eur='126.05', orders='1', is_employee='0', order_nr='200015282', channel='SEO')

In [9]:
df.printSchema()

root
 |-- dwh_country_id: string (nullable = true)
 |-- fk_sales_order_item: string (nullable = true)
 |-- fk_sales_order: string (nullable = true)
 |-- local_unit_price: string (nullable = true)
 |-- unit_price_eur: string (nullable = true)
 |-- local_tax_amount: string (nullable = true)
 |-- tax_amount_eur: string (nullable = true)
 |-- local_paid_price: string (nullable = true)
 |-- paid_price_eur: string (nullable = true)
 |-- local_paid_price_net: string (nullable = true)
 |-- paid_price_net_eur: string (nullable = true)
 |-- local_coupon_money_value: string (nullable = true)
 |-- coupon_money_value_eur: string (nullable = true)
 |-- local_coupon_money_value_net: string (nullable = true)
 |-- coupon_money_value_eur_net: string (nullable = true)
 |-- local_original_price: string (nullable = true)
 |-- original_unit_price_eur: string (nullable = true)
 |-- fk_dim_catalog: string (nullable = true)
 |-- fk_dim_date: string (nullable = true)
 |-- fk_dim_customer: string (nullable = true)
 |-- fk_dim_order: string (nullable = true)
 |-- order_bi_created_at: string (nullable = true)
 |-- order_bi_updated_at: string (nullable = true)
 |-- order_item_bi_created_at: string (nullable = true)
 |-- order_item_bi_updated_at: string (nullable = true)

In [15]:
dforder.printSchema()

root
 |-- id_dim_order: string (nullable = true)
 |-- dwh_country_id: string (nullable = true)
 |-- id_sales_order: string (nullable = true)
 |-- order_nr: string (nullable = true)
 |-- payment_method: string (nullable = true)
 |-- delivery_date: string (nullable = true)
 |-- delivery_time: string (nullable = true)
 |-- is_recurring: string (nullable = true)
 |-- is_subscription: string (nullable = true)
 |-- region_code: string (nullable = true)

In [20]:
df_clientes.printSchema()

root
 |-- id_dim_customer: string (nullable = true)
 |-- dwh_country_id: string (nullable = true)
 |-- region_code: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- first_order_id: string (nullable = true)
 |-- first_order_date: string (nullable = true)
 |-- unit_price_total_eur: string (nullable = true)
 |-- paid_price_total_eur: string (nullable = true)
 |-- coupon_value_total_eur: string (nullable = true)
 |-- coupon_value_total_eur_net: string (nullable = true)
 |-- tax_total_eur: string (nullable = true)
 |-- cogs_sum_eur: string (nullable = true)
 |-- shipping_amount_eur: string (nullable = true)
 |-- net_revenue_eur: string (nullable = true)
 |-- orders: string (nullable = true)
 |-- is_employee: string (nullable = true)
 |-- order_nr: string (nullable = true)
 |-- channel: string (nullable = true)

In [7]:
df.describe('dwh_country_id').show()

+-------+----------------------+
|summary|coupon_money_value_eur|
+-------+----------------------+
|  count|                175909|
|   mean|    0.5124941873354916|
| stddev|    1.5807061553353743|
|    min|                     0|
|    max|                  9.99|
+-------+----------------------+

In [31]:
df_catalogo.head()

Row(id_catalog='32', dwh_country_id='276', fk_catalog_config='251', config_sku='VO021DFAA06ZSWG', fk_catalog_simple='251', simple_sku='VO021DFAA06ZSWG-251', name='Apfelsaft Demeter Naturtrüb', description='Naturtrüber Apfelsaft aus dem Hause Voelkel Naturkostsäfte hat einen erfrischend fruchtigen Geschmack. Die vollreifen, aromatischen Äpfel werden schonend und werthaltend zu einem 100% Direktsaft gepresst. Pur oder als Schorle, der optimale Saft für die ganze Familie.&nbsp;<br><br><b>Zutaten:</b><br>Apfelsaft<br><br><font face="helvetica, arial, sans-serif"><b>Nährwerte pro 100g:</b></font><br>Brennwert: 46kcal (193kJ)<br>Eiweiß: 0,1g<br>Kohlenhydrate: 11g<br>davon Zucker: 10,5g<br>Fett: 0,1g<br>davon gesättigte Fettsäuren: 0g<br>Salz: 0g<br><br><b>Allergieinform</b><b>ation:</b><br>Fruktose', producer_id='22', producer='Voelkel Naturkostsäfte', fk_catalog_brand='21')

In [32]:
df_catalogo.printSchema()

root
 |-- id_catalog: string (nullable = true)
 |-- dwh_country_id: string (nullable = true)
 |-- fk_catalog_config: string (nullable = true)
 |-- config_sku: string (nullable = true)
 |-- fk_catalog_simple: string (nullable = true)
 |-- simple_sku: string (nullable = true)
 |-- name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- producer_id: string (nullable = true)
 |-- producer: string (nullable = true)
 |-- fk_catalog_brand: string (nullable = true)

## SQL API

In [6]:
df.createOrReplaceTempView("fact_item")
df_clientes.createOrReplaceTempView("dim_customer")
users = sqlContext.sql("SELECT channel,fk_sales_order_item \
                       FROM fact_item join dim_customer on fk_dim_customer=id_dim_customer limit 10")
users.show()

+-----------------+-------------------+
|          channel|fk_sales_order_item|
+-----------------+-------------------+
|Social Media Paid|              88056|
|Social Media Paid|              88055|
|Social Media Paid|              88054|
|Social Media Paid|              88053|
|Social Media Paid|              88052|
|Social Media Paid|              88051|
|Social Media Paid|              91950|
|Social Media Paid|              91949|
|Social Media Paid|              91948|
|Social Media Paid|              91947|
+-----------------+-------------------+

### 1. Perfilamiento de datos

Realice un perfilamiento de datos para 4 columnas de fact_item que hagan referencia a una métrica.

### 2. Ejercicio SQL:

a.Ventas (fact_item.paid_price_total_eur) por canal de mercadeo (dim_custome.channel)

In [25]:
df.describe('coupon_money_value_eur','fk_dim_customer').show()

+-------+----------------------+------------------+
|summary|coupon_money_value_eur|   fk_dim_customer|
+-------+----------------------+------------------+
|  count|                175909|            175909|
|   mean|    0.5124941873354916|2983.0401400724236|
| stddev|    1.5807061553353743| 1731.487141296873|
|    min|                     0|                 1|
|    max|                  9.99|               999|
+-------+----------------------+------------------+

In [9]:
df.describe('paid_price_eur').show()

+-------+-----------------+
|summary|   paid_price_eur|
+-------+-----------------+
|  count|           175909|
|   mean|2.732469856573652|
| stddev|4.437943426162388|
|    min|                0|
|    max|            97.64|
+-------+-----------------+

In [10]:
df.describe('local_paid_price_net').show()

+-------+--------------------+
|summary|local_paid_price_net|
+-------+--------------------+
|  count|              175909|
|   mean|  2.5127063993309577|
| stddev|   4.020914443434434|
|    min|                   0|
|    max|               91.25|
+-------+--------------------+

In [11]:
df.describe('coupon_money_value_eur_net').show()

+-------+--------------------------+
|summary|coupon_money_value_eur_net|
+-------+--------------------------+
|  count|                    175909|
|   mean|       0.47048928707455506|
| stddev|        1.4405870756600305|
|    min|                         0|
|    max|                      9.98|
+-------+--------------------------+

In [23]:
df_clientes.describe('order_nr').show()

+-------+--------------------+
|summary|            order_nr|
+-------+--------------------+
|  count|                4356|
|   mean|2.0002886250757575E8|
| stddev|   31351.36631100774|
|    min|           200000035|
|    max|           200099992|
+-------+--------------------+

b.Número de clientes por método de pago (dim_order.payment_method)

In [22]:
dforder.createOrReplaceTempView("dim_order")
df_clientes.createOrReplaceTempView("dim_customer")
clientes = sqlContext.sql("SELECT count(c.id_dim_customer) as numero_clientes,o.payment_method \
                       FROM dim_customer c join dim_order o on c.order_nr=o.order_nr GROUP BY o.payment_method")
clientes.show()

+---------------+-----------------+
|numero_clientes|   payment_method|
+---------------+-----------------+
|             84|        NoPayment|
|            357|              COD|
|           1347| Adyen_CreditCard|
|            481|Adyen_DirectDebit|
|           2046|     Adyen_Paypal|
+---------------+-----------------+

In [28]:
df.createOrReplaceTempView("fact_item")
dforder.createOrReplaceTempView("dim_order")
clientes = sqlContext.sql("SELECT count(DISTINCT f.fk_dim_customer) as numero_clientes,o.payment_method \
                       FROM fact_item f join dim_order o on o.id_dim_order = f.fk_dim_order GROUP BY o.payment_method")
clientes.show()

+---------------+--------------------+
|numero_clientes|      payment_method|
+---------------+--------------------+
|            169|           NoPayment|
|            559|                 COD|
|           1727|    Adyen_CreditCard|
|            853|   Adyen_DirectDebit|
|              7|Adyen_PaypalRecur...|
|           2407|        Adyen_Paypal|
+---------------+--------------------+

c.Ranking de productores (dim_catalog.producer) por ventas (fact_item.paid_price_total_eur)

In [35]:
df.createOrReplaceTempView("fact_item")
df_catalogo.createOrReplaceTempView("dim_catalog")
ranking = sqlContext.sql("SELECT c.producer,SUM(f.paid_price_eur) as ventas \
                       FROM fact_item f join dim_catalog c on c.id_catalog = f.fk_dim_catalog GROUP BY c.producer")
ranking.show(25)

+--------------------+------------------+
|            producer|            ventas|
+--------------------+------------------+
|          Ecollevant|185.81999999999996|
|            Schilkin|             35.82|
|     Quartiermeister| 530.9599999999999|
|     Blomeyer's Käse|13623.400000000085|
|Berliner Lachsman...|3218.0399999999972|
|          Weisswange|217.80000000000013|
|    Apfelhof Wähnert| 729.0299999999997|
|              DALUMA|3056.5099999999943|
|          Backflasch|159.29999999999995|
|Landfleischerei R...| 14971.79999999999|
|        Marmelicious| 1125.079999999999|
|              Frulee|25.020000000000003|
| Wildfarm Werneuchen|171.62999999999994|
|The Sausage Man N...|1501.5199999999993|
|         Mr Lemonade| 71.53999999999999|
|          Wesermühle|328.35999999999996|
|          Ankerkraut|             26.67|
|        Schoppe Bräu| 640.9399999999997|
|     Linumer Landhof|1502.3600000000017|
|           Hermann's|410.68000000000046|
|         KERNenergie| 263.7299999999999|
|    Green Cup Coffee|205.03000000000003|
|       Obsthof Maxin| 897.6699999999955|
|Die Kraft des Urs...|435.74000000000024|
|       Eiland Grimme| 760.0200000000002|
+--------------------+------------------+
only showing top 25 rows

d. Ranking de clientes por ventas (fact_item.paid_price_total_eur

In [41]:
df.createOrReplaceTempView("fact_item")
df_clientes.createOrReplaceTempView("dim_customer")
ranking = sqlContext.sql("SELECT c.id_dim_customer as cliente, SUM(f.paid_price_eur) as ventas \
                       FROM dim_customer c join fact_item f on f.fk_dim_customer = c.id_dim_customer GROUP BY c.id_dim_customer ORDER BY ventas DESC")
ranking.show()

+-------+------------------+
|cliente|            ventas|
+-------+------------------+
|   1265| 4097.139999999961|
|   5416| 3990.409999999939|
|   3654|3367.3500000000004|
|   2750| 3226.549999999975|
|   5144| 3061.189999999996|
|    535|2548.0499999999956|
|    586|2326.9699999999907|
|   5064| 2179.300000000002|
|   3407| 2056.279999999994|
|   2751|2031.3100000000184|
|   1964|1850.9700000000053|
|    946|1672.7800000000045|
|   3445| 1640.970000000001|
|   2493|1491.4900000000073|
|   5557|1487.5599999999986|
|   1603|1407.6300000000035|
|   5202|1350.0400000000036|
|    516|1347.8800000000065|
|    726|1320.0600000000036|
|    332|1284.7000000000064|
+-------+------------------+
only showing top 20 rows

e. Número de órdenes con más de 3 items y con valor pagado por item mayor a 30 euros (fact_item.paid_price_total_eur)

In [49]:
df.createOrReplaceTempView("fact_item")
dforder.createOrReplaceTempView("dim_order")
ordenes = sqlContext.sql("SELECT count(*) as total, fk_dim_order \
                       FROM fact_item  where paid_price_net_eur>30 group by fk_dim_order having total>3")
ordenes.show()
ordenes.count()

+-----+------------+
|total|fk_dim_order|
+-----+------------+
|    4|        6996|
|   10|        9167|
|    4|        2237|
|    4|        2243|
|    4|        2235|
|    4|        2241|
|    4|        2239|
+-----+------------+

7

### Ejercicios PySpark

Elija dos de las preguntas del punto anterior y respóndalas utilizando las funciones de PySpark
http://spark.apache.org/docs/2.1.0/api/python/pyspark.sql.html
https://www.analyticsvidhya.com/blog/2016/10/spark-dataframe-and-operations/